@tailwind base;
@tailwind components;
@tailwind utilities;

.icons img:nth-child(2) {
  position: relative;
  top: 200px;
  right: 50px;
}
.icons img:nth-child(3) {
  position: relative;
  top: 400px;
  right: 250px;
}
.icons img:nth-child(4) {
  position: relative;
  top: 500px;
  right: 50px;
}
.icons img:nth-child(5) {
  position: relative;
  top: 70px;
  right: 300px;
}
.icons img:nth-child(6) {
  position: relative;
  top: 350px;
  right: 100px;
}
.icons img:nth-child(7) {
  position: relative;
  right: 300px;
}
.icons img:nth-child(8) {
  position: relative;
  top: 100px;
  right: 50px;
}
.icons img:nth-child(9) {
  position: relative;
  top: 450px;
  right: 150px;
}
.icons img:nth-child(10) {
  position: relative;
  top: 200px;
  right: 90px;
}
.icons img:nth-child(12) {
  position: relative;
  top: 200px;
  left: 50px;
}
.icons img:nth-child(13) {
  position: relative;
  top: 350px;
  left: 50px;
}
.icons img:nth-child(14) {
  position: relative;
  top: 100px;
  left: 20px;
}
